extends layout

block content
    table
      thead
        tr
            th(colspan=4) Contract Detail
      tbody
        each item in result.types
            tr
                td=item.type.typeName
                td=numeral(item.type.marketstat.sell.avg).format('$0,0.00')
                td=item.count
                td=numeral(item.total).format('$0,0.00')
      tfoot
        tr
            td(colspan=2) Total
            td=result.count
            td=numeral(result.total).format('$0,0.00')
