extends layout

block content
    table
      thead
        tr
            th(colspan=6) Contract Detail
        tr
            th Name
            th Volume
            th Price
            th Count
            th Total Volume
            th Total Price
      tbody
        each type in types
            tr
                td.text=type.name
                td.number=numeral(type.item.volume).format('0,0.00')
                td.number=numeral(type.price).format('$0,0.00')
                td.number=type.quantity
                td.number=numeral(type.totalVolume).format('0,0.00')
                td.number=numeral(type.totalPrice).format('$0,0.00')
      tfoot
        tr
            td.text(colspan=3) Total
            td.number=count
            td.number=numeral(totalVolume).format('0,0.00')
            td.number=numeral(totalPrice).format('$0,0.00')
