extends layout

block content
    form(method='post')
      each group in groups
        table
          thead
            tr
                th(colspan=3)=group.category + "/" + group.name
          tbody
            each item in group.types
                tr
                    td=item.info.typeName
                    td=numeral(item.marketstat.sell.avg).format('$0,0.00')
                    td
                        input(id=item.info.typeID,type='text',name=item.info.typeID)
      input(type="submit", value="Submit")
